@import "../global/variables.scss";

.advantage__container {
  margin-bottom: 62px;
  padding-top: 45px;

  text-align: center;
}

.advantage__big-title {
  margin-bottom: 5px;
  padding-top: 50px;

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color_base-primary;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.advantage__big-subtitle {
  margin: 0 0 36px;

  line-height: 36px;
}

.advantage__title {
  display: block;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $color_base-black;
}

.advantage__description {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}

.advantage__item {
  position: relative;

  margin-bottom: 33px;
  padding-top: 65px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 52px;
    height: 56px;

    background-repeat: no-repeat;
    transform: translateX(-50%);
  }
}

.advantage__item-icon-clock {
  &::before {
    background-image: url("../../img/advantage-icon-clock.svg");
  }
}

.advantage__item-icon-pocket {
  &::before {
    background-image: url("../../img/advantage-icon-pocket.svg");
  }
}

.advantage__item-icon-lightning {
  &::before {
    background-image: url("../../img/advantage-icon-lightning.svg");
  }
}

.advantage__item-icon-leaf {
  &::before {
    background-image: url("../../img/advantage-icon-leaf.svg");
  }
}

@media (min-width: $tablet-width) {
  .advantage {
    padding-bottom: 82px;
  }

  .advantage__container {
    margin-bottom: 30px;
    padding-top: 60px;
  }

  .advantage__list {
    display: grid;

    text-align: left;

    grid-gap: 56px 14px;
    grid-template-columns: 1fr 1fr;
  }

  .advantage__big-title {
    margin-bottom: 4px;
  }

  .advantage__big-subtitle {
    margin-bottom: 66px;

    font-style: 700;
    font-size: 42px;
    line-height: 64px;
  }

  .advantage__item {
    margin: 0;
    padding-top: 0;
    padding-left: 82px;

    &::before {
      top: 0;
      left: 10px;

      transform: translateX(0);
    }
  }

  .advantage__title {
    margin-bottom: 10px;

    line-height: 36px;
  }

  .advantage__description {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    padding-bottom: 90px;
  }

  .advantage__container {
    padding-top: 100px;
  }

  .advantage__list {
    column-gap: 30px;

    grid-template-columns: repeat(4, 1fr);
  }

  .advantage__big-subtitle {
    margin-bottom: 156px;
  }

  .advantage__item {
    padding-left: 0;

    text-align: center;

    &::before {
      top: -76px;
      left: 50%;

      transform: translateX(-50%);
    }
  }
}
