@import "../global/variables.scss";

.burger-menu {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 22px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:active {
    background-color: $color_base-secondary;
  }
}

.burger-menu--opened {
  .burger-menu__line {
    background-color: transparent;

    &::before {
      top: 50%;

      transform: rotate(45deg);
    }

    &::after {
      top: 50%;

      transform: rotate(-45deg);
    }
  }
}

.burger-menu__line {
  position: relative;

  width: 16px;
  height: 2px;

  background-color: $color_base-black;
  transform-origin: left center;

  transition: 0.2s all;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 16px;
    height: 2px;

    background-color: $color_base-black;
    transform-origin: center;

    transition: 0.2s all;
  }

  &::before {
    top: -5px;
  }

  &::after {
    top: 5px;
  }
}
