@import "../global/variables.scss";

.burger {
  width: 60px;
  height: 60px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.burger:active {
  background-color: $color_base-secondary;
}

.burger__menu {
  position: relative;

  display: block;
  width: 16px;
  height: 1.5px;
  margin: 0 auto;

  background-color: $color_base-black;

  transition: height 0.2s ease;
}

.burger__menu::after,
.burger__menu::before {
  content: "";
  position: absolute;
  left: 0;

  width: 16px;
  height: 1.5px;

  background-color: $color_base-black;
  border: none;

  transition: top 0.3s ease, transform 0.3s ease;
}

.burger__menu::after {
  top: 5px;
}

.burger__menu::before {
  top: -5px;
}

.burger__menu.open {
  height: 0;
}

.burger__menu.open.burger__menu::after {
  top: 1px;

  transform: rotate(45deg);
}

.burger__menu.open.burger__menu::before {
  top: 1px;

  transform: rotate(-45deg);
}
