.button {
  display: block;
  padding: 8px 20px;

  font-family: $font;
  text-align: center;
  color: $color_base-white;
  text-decoration: none;
  white-space: nowrap;

  background-color: $color_base-primary;
  border: none;
  border-radius: 4px;
}

//Добавить вариации
