@import "../global/variables.scss";

.button {
  display: block;
  padding: 8px 20px;

  font-size: 16px;
  text-align: center;
  color: $color_base-white;
  text-decoration: none;
  white-space: nowrap;

  background-color: $color_base-primary;
  border: none;
  border-radius: 4px;

  &--apply {
    padding: 10px 15px;

    font-size: 13px;
    line-height: 24px;
  }

  &--reset {
    padding: 10px 16px;

    font-size: 14px;
    line-height: 24px;
    color: $color_base-primary;

    background-color: $color_base-white;
  }

  &--basket {
    position: relative;

    padding: 8px 20px 8px 46px;

    font-size: 14px;
    line-height: 20px;
  }

  &--basket::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;

    width: 20px;
    height: 16px;

    background-image: url("img/header-navigation-basket-add.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
  }
}
