@import "../global/variables.scss";

.filter__title-country {
  margin-bottom: 15px;
}

.filter__label--country {
  padding: 2px 0 2px 52px;
}

.filter__label--country::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 42px;
  height: 24px;

  background: $color_base-grey;
  border-radius: 12px;

  transition: left 0.2s ease-in-out, background 0.2s ease;
}

.filter__label--country::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;

  width: 20px;
  height: 20px;

  background: $color_base-white;
  border-radius: 50%;

  transition: left 0.2s ease-in-out, background 0.2s ease;
}

.filter__label--country:hover.filter__label--country::before,
.filter__label--country:focus.filter__label--country::before {
  background: $color_primary-opacity;
  border: 2px solid $color_primary-lighter;
}

.filter__checkbox:checked + .filter__label--country::before {
  background: $color_base-primary;
  border: none;
}

.filter__checkbox:checked + .filter__label--country::after {
  left: 20px;
}

.filter__checkbox:disabled + .filter__label--country {
  color: $color_base-grey;

  cursor: auto;
}

.filter__checkbox:disabled + .filter__label--country::before {
  background-color: $color_lightest-grey;
  border: none;
}

.filter__checkbox:checked:disabled + .filter__label--country::after {
  content: "";

  background-color: $color_base-grey;
}

.filter__item--country {
  &:last-child {
    margin-bottom: 25px;
  }
}
