@import "../global/variables.scss";

.catalog__filter-price {
  border: none;
}

.catalog__slider {
  position: relative;

  display: flex;
  width: 100%;
  height: 24px;
  margin-bottom: 25px;
}

.catalog__slider-toggle {
  position: absolute;
  z-index: 2;

  width: 24px;
  height: 24px;

  background-color: $color_base-white;
  border: 2px solid $color_base-primary;
  border-radius: 50%;

  &--max {
    left: 84%;
  }
}

.catalog__slider-line {
  position: absolute;
  top: 50%;

  width: 100%;
  height: 2px;

  background-color: $color_base-grey;
  transform: translateY(-50%);
}

.catalog__slider-range {
  position: absolute;
  top: 50%;
  z-index: 1;

  width: 84%;
  height: 4px;

  background-color: $color_base-primary;
  transform: translate(12px, -50%);
}

.catalog__input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin-bottom: 24px;
}

.catalog__divider {
  width: 9px;
  height: 2px;

  background-color: $color_base-grey;
}

@media (min-width: $tablet-width) {
  .catalog__input-container {
    padding-left: 10px;
  }

  .catalog__divider {
    width: 9px;
  }

  .catalog__slider-toggle {
    &--min {
      left: 2%;
    }

    &--max {
      left: 80%;
    }
  }

  .catalog__slider-range {
    width: 80%;
  }
}

.catalog__label-price {
  margin-right: 6px;
}

.label--before {
  margin-left: 6px;
}

.catalog__input-price {
  width: 125px;
  padding: 7px 10px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $color_base-black;

  background-color: $color_base-white;
  border: 2px solid $color_primary-lighter;
  border-radius: 4px;
}

@media (min-width: $desktop-min-width) {
  .price__input-container {
    max-width: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  .catalog__slider-toggle {
    &--min {
      left: 1%;
    }

    &--max {
      left: 86%;
    }
  }

  .catalog__slider-range {
    width: 86%;
  }
}
