@import "../global/variables.scss";

.header {
  position: relative;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.24px;
}

.header__container {
  display: grid;
  align-items: center;
  padding: 0 0 -1px  19px;

  grid-template-columns: min-content 1fr min-content;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 20px;

    grid-template-columns: min-content 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 40px;
  }
}

.header__logo-container {
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    min-width: 129px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.header__logo {
  padding: 12px 20px;

@media (min-width: $tablet-width) {
  padding: 12px 0;
  }

@media (min-width: $desktop-width) {
  padding-right: 20px;
  }
}

.header__logo-image {
  width: 32px;
  height: 36px;

@media (min-width: $tablet-width) {
  width: 82px;
  height: 36px;
  }

@media (min-width: $desktop-width) {
    width: 170px;
    height: 36px;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.header__logo-description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    min-width: 135px;
    margin: 0;

    text-transform: none;
    letter-spacing: normal;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .nav__list {
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .header__logo-block {
    display: flex;
    align-items: center;
  }

  .nav {
    justify-content: space-between;
  }
}
