@import "../global/variables.scss";

.navigation {
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: column;
}

.navigation__item {
  border-top: 1px solid $color_base-secondary;

  &:last-of-type {
    border-bottom: 1px solid $color_base-secondary;
  }

  &:active {
    .navigation__link {
      background-color: $color_base-secondary;
    }
  }
}

.navigation__link {
  display: block;
  padding: 20px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  white-space: nowrap;

  background-color: $color_base-white;
}

@media (min-width: $tablet-width) {
  .navigation {
    width: auto;
  }

  .navigation__list {
    flex-direction: row;
  }

  .navigation__item {
    position: relative;

    border: none;

    &:last-of-type {
      border: none;
    }

    &:active {
      .navigation__link {
        color: $color_base-primary;

        background-color: $color_base-secondary;
      }
    }

    &--current {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 2px;

        background-color: $color_base-primary;
      }

      .navigation__link {
        color: $color_base-primary;

        background-color: $color_base-white;
      }
    }
  }

  .navigation__link {
    padding: 32px 20px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    gap: 20px;
  }

  .navigation__link {
    &:hover,
    &:focus {
      color: $color_base-primary;
    }
  }
}
