.navigation__profile-list {
  display: flex;
}

.navigation__profile-link {
  display: inline-flex;
  padding: 22px;
  color: variables.$base-black;
  @include mixins.font-medium;
  @include mixins.font-subtitle;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  white-space: nowrap;

  &:active {
    background-color: $color_base-secondary;
  }
}

.navigation__profile-icon {
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .navigation__profile-link  {
    padding: 32px 22px;
  }
}

@media (min-width: $desktop-min-widt) {
  .navigation__profile-list  {
    gap: 20px;
  }

  .navigation__profile-link {
    padding: 32px 20px;

    &:hover,
    &:focus {
      color: $color_base-primary;

      svg {
        color: $color_base-primary;
      }
    }
  }

  .navigation__profile-icon {
    margin-right: 8px;
  }
}
