@import "../global/variables.scss";

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.sorting__title {
  font-weight: 600;
  font-size: 16px;
}

.sorting__select {
  font-weight: 600;
  font-size: 16px;
  color: $color_base-primary;
  text-transform: lowercase;

  background-color: $color_lightest-grey;
  border: none;

  appearance: none;
}

.sorting__select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;

  display: block;
  width: 10px;
  height: 10px;

  color: $color_base-primary;

  background-image: url("../../img/catalog-arrow-select.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translate(-50%, -50%) rotate(0deg);

  transition: transform 0.2s ease-out;
}

@media (min-width: $tablet-width) {
  .sorting {
    justify-content: flex-end;
    margin-bottom: 28px;
  }

  .sorting__select-container {
    margin-left: 26px;
  }
}

@media (min-width: $tablet-width) {
  .sorting__select {
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $color_base-secondary;
    }
  }
}
