/* здесь подключите шрифты*/
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../../fonts/Montserrat/montserrat-bold.woff2") format("woff2"),
    url("../../fonts/Montserrat/montserrat-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../../fonts/Montserrat/montserrat-semibold.woff2") format("woff2"),
    url("../../fonts/Montserrat/montserrat-semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../../fonts/Montserrat/montserrat-medium.woff2") format("woff2"),
    url("../../fonts/Montserrat/montserrat-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../../fonts/Montserrat/montserrat-regular.woff2") format("woff2"),
    url("../../fonts/Montserrat/montserrat-regular.woff") format("woff");
}
