/* Глобальные селекторы img, body, html и так далее*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  font-family: $font;

  background-color: $color_lightest-grey;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}
