/* здесь используйте глобальные переменные */
$font: "Montserrat", "Arial", sans-serif;

//$mobile-width: 320px;
//$tablet-width: 768px;
$desktop-min-width: 1024px;
//$desktop--max-width: 1440px;

$color_base-white: #ffffff;
//$color_base-grey: #bdbdbd;
$color_base-black: #333333;
$color_base-primary: #7859cf;
//$color_base-secondary: #f0ebff;
//$color_primary-opacity: rgba(120, 89, 207, 0.25);
//$color_primary-lighter: #9070ec;
//$color_primary-darker: #593cac;
//$color_light-grey: #e2e2e2;
$color_lightest-grey: #f8f8f8;
//$color_flat-white: #f3ebe1;
//$color_lavender-latte: #eae6fc;
//$color_espresso: #e5e6e8;
